# Print Function

Python is a case sensitive language.

In [ ]:
print("Hello World ..")

In [ ]:
print("Python is case sensituve")

In [6]:
print(7)
print(7.7)

7
7.7

In [9]:
print(True)

True

In [11]:
print('Hello',1,4,5,3,True)

Hello 1 4 5 3 True

In [13]:
print('Hello',1,4,5,3,True , sep='/')

Hello/1/4/5/3/True

In [15]:
print('hello')
print('world')

hello
world

In [17]:
print('hello' , end='-')
print('world')

hello-world

# Data Types

In [19]:
#integer
print(8)

8

In [21]:
#float/decimal
print(8.55)

8.55

In [23]:
#boolean
print(True)
print(False)

True
False

In [25]:
#string
print("Hello World")

Hello World

In [27]:
#complex number (ax + yj)
print(6+2j)

(6+2j)

In [29]:
#list
print([1,2,3,4,5,6])

[1, 2, 3, 4, 5, 6]

In [31]:
#tuple
print((1,2,3,4,5,6))

(1, 2, 3, 4, 5, 6)

In [33]:
#set
print({1,2,3,4,5,6})

{1, 2, 3, 4, 5, 6}

In [36]:
#dictionary
print({'name':'nitish' , 'age' :20 ,'married' : False ,True :'He is a boy'})

{'name': 'nitish', 'age': 20, 'married': False, True: 'He is a boy'}

In [38]:
#type - to print data type 
type(3.4)

float

# Variables

In [39]:

# they are containers for future use - variables.
# static vs dynamic typing
#static vs dynamic binding
#stylish declaration techniques

In [41]:
name = 'nitish'
print(name)

nitish

In [43]:
a = 5
b= 6
print(a+b)

11

In [46]:
#dynamic typing
a = 5
#static typing 
#int a = 5

In [48]:
#dynamic binding
a = 5 
print(a)
a = 'nitish'
print(a)

5
nitish

In [49]:
#static binding
#int a = 5 [ C , C++ , java supports static binding and typing while PYTHON supports dynmic typing and binding]

In [51]:
a =1
b=2
c=3
print (a,b,c)

1 2 3

In [53]:
a,b,c = 1,2,3
print(a,b,c)

1 2 3

In [55]:
a = b = c = 5
print(a,b,c)

5 5 5

# Comments

In [58]:
# this is a single line comment
# python supports only single line comments

# Keywords & Identifiers

In [59]:
# keywords 
# reversed words, there are 32 keywords in python

In [62]:
# Identifiers
# name given to a variable 
# Rules - : 
# You can't start with a digit 
name1 = 'nitish'
# use can use only _ as special chars
_='nitish'
print(_)
# identifiers can not be keyword.

nitish

# User Input

In [64]:
# Static vs Dynamic 
# static - can't interact with software only

In [66]:
input()

harsh

'harsh'

In [68]:
input("Enter your name ...")

Enter your name ...my name is harsh

'my name is harsh'

In [70]:
input("Enter email")

Enter emailharhs

'harhs'

In [72]:
# add two integers

# take integer input from user and store then in a variable
a = int(input("Enter  first number : "))
b = int(input("Enter second number : "))
# add the variable
sum  = a + b 
#print the sum 
print(sum)

Enter  first number : 45
Enter second number : 45
90

# Type Conversion

In [75]:
# Implicit type conversion
print(5 + 5.6)
print(type(5),type(5.6))

10.6
<class 'int'> <class 'float'>

In [77]:
print(4 + '4')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [82]:
# Explicit type conversion 
# str -> int
int('4')
type(int('4'))


# int -> str
str(5)

# int -> float  
float(4)

4.0

# Literals

In [86]:
# Integer Literals : 
a = 0b1010 # binary 
b = 100  # decimal
c = 0o310 # octal
d = 0x12c # hexadecimal

In [88]:
print(a , b ,c ,d )

10 100 200 300

In [90]:
# Float Literals :
x = 10.5
y = 1.5e2  # 1.5 * 10^2
z = 1.5e-3 # 1.5 * 10^-3
print(x,y,z)

10.5 150.0 0.0015

In [95]:
# Complex Literals 
p = 4 + 3j
print(p , p.real,p.imag)

(4+3j) 4.0 3.0

In [110]:
# String Literals

str1 ='This is a String : '
str2 = "This is a Python String : "
char = "C : "
multilineStr = """This is a 
                multiline string more than one line code . : """
unicode = u"\U0001f600\U0001F606\U0001F923\U0001F924 : "
rawStr = r"\raw\n\string : "

In [112]:
print(str1,str2,char,multilineStr,unicode,rawStr)

This is a String :  This is a Python String :  C :  This is a
                multiline string more than one line code . :  ðŸ˜€ðŸ˜†ðŸ¤£ðŸ¤¤ :  \raw\n\string :

In [114]:
# Boolean
c =True + 4  # true - > 1
d = False + 10 # false -> 0
print (c,d)

5 10

In [117]:
# None -> Used to variable declaration
a = None
print(a)

None