In [13]:
# sequence sum 
n = int (input("enter n :"))
result = 0
fact =1
for i in range(1,n+1):
    fact = fact*i
    result = result + i/fact
    
print(round(result,2))

enter n :4
2.67

# Nested Loops

 Pattern 1
 
 *
 **
 ***
 ****
 *****

In [17]:
for i in range(1,5):
    for j in range(1,5):
        print('i -> ', i,'j -> ' ,j)

i ->  1 j ->  1
i ->  1 j ->  2
i ->  1 j ->  3
i ->  1 j ->  4
i ->  2 j ->  1
i ->  2 j ->  2
i ->  2 j ->  3
i ->  2 j ->  4
i ->  3 j ->  1
i ->  3 j ->  2
i ->  3 j ->  3
i ->  3 j ->  4
i ->  4 j ->  1
i ->  4 j ->  2
i ->  4 j ->  3
i ->  4 j ->  4

In [21]:
# pattern 1 
rows = int(input('enter number of rows'))
for i in range(1,rows+1):
    for i in range(1,i+1):
        print("*" ,end=' ')
    print()

enter number of rows5
*
* *
* * *
* * * *
* * * * *

In [27]:
# pattern 2
# 1
# 121
# 12321

rows  =int(input('enter rows -> '))
for i in range(1,rows+1):
    for j in range(1,i+1):
        print(j,end=' ')
    for k in range(i-1,0,-1):
        print(k,end=' ')
    print()

enter rows -> 5
1
1 2 1
1 2 3 2 1
1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

# Loop control Statements 
### break
### continue
### pass

In [29]:
# break statement
for i in range(1,10):
    if i==5:
        break
    print(i)

1
2
3
4

In [31]:
# continue statement 
for i in range(1,10):
    if i==5:
        continue
    print(i)

1
2
3
4
6
7
8
9

In [44]:
# pass statement
for i in range(1,10):
    if i==5:
        pass

In [41]:
# print all prime number between a given range

low = int(input('enter lower range -> '))
up = int (input('enter upper range -> '))

for i in range(low,up + 1):
    for j in range(2,i):
        if i%j==0:
            break
    else:
        print(i)

enter lower range -> 1
enter upper range -> 50
1
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47