# Dictionary

In [ ]:
Dictionary in Python is a collection of key and values.
Used to store data values like a map,which unlike other data types which hold only a single values as an element.

In some languages it is knowm as map or assosiative arrays.

dict = {'name' : 'nitish', 'age' : 33 , 'gender' : 'male'}

Characterstics : 
    * Mutable.
    * Indexing has no meaning.
    * Keys can't be duplicated.
    * keys can't be mutable items.

## create dictionary

In [2]:
d = {}
d

{}

In [4]:
d = {'name' : 'abc' ,'isalpha' : True}
d

{'name': 'abc', 'isalpha': True}

In [6]:
d2  = {(1,2,3) : 1}
d2

{(1, 2, 3): 1}

In [8]:
s = {
    'name':'nitish',
    'college' : 'bit',
    'sem':4,
    'subjects':{
        'dsa':50,
        'maths':70,
        'english':34
    }
}
s

{'name': 'nitish',
 'college': 'bit',
 'sem': 4,
 'subjects': {'dsa': 50, 'maths': 70, 'english': 34}}

In [12]:
d2 = dict([(1,1),(2,2)])
d2

{1: 1, 2: 2}

In [15]:
# accessing elements : 
my_dict = {'name':'jack','age':23}

In [16]:
my_dict['name']

'jack'

In [17]:
my_dict['age']

23

In [19]:
my_dict['class'] = 4

In [21]:
my_dict

{'name': 'jack', 'age': 23, 'class': 4}

In [24]:
s ={'dsa': 50, 'maths': 70, 'english': 34}
s

{'dsa': 50, 'maths': 70, 'english': 34}

In [25]:
# remove key-value pair

In [29]:
# pop 
s.pop('dsa')

KeyError: 'dsa'

In [30]:
s.popitem()

('english', 34)

In [32]:
del my_dict['name']

KeyError: 'name'

In [34]:
s.clear()
s

{}