In [ ]:
# Operations on tuples 
1. + & *
2. membership
3.iteration

In [2]:
t1 = (1,2,3,4)
t2=(5,6,7)

In [4]:
t1+t2

(1, 2, 3, 4, 5, 6, 7)

In [6]:
t1*2

(1, 2, 3, 4, 1, 2, 3, 4)

In [8]:
t2*3

(5, 6, 7, 5, 6, 7, 5, 6, 7)

In [10]:
1 in t1

True

In [12]:
2 in t2

False

In [13]:
for i in t1:print(i)

1
2
3
4